# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\JulianDavid\Desktop\Andes\Semestre VIII\Procesos ágiles de desarrollo de software\Apropiación tecnológica\MISO4101_CT20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
